extends ../layout
block content
    div.Create
            form(method="post")
                input(placeholder = "name", name="name")
                input(placeholder = "password" name="password")
                input(placeholder="email" name="email")
                input(placeholder="role" name="role")
                button(type="submit") submit