extends ../layout
block content
    div.container
        div.row
            div.col-md-10.offset-md-1
                div.Create
                        form(method="post")
                            .form-group
                                label(for='') Title:
                                input(placeholder = "", name="post_title")
                            .form-group
                                label(for='images') Upload Image:
                                input(placeholder="" name="images")
                            .form-group
                                label(for='post_type') Blog Type:
                                input(placeholder="" name="post_type")
                            .form-group
                                label(for='post_body') Blog Post:
                                textarea#exampleTextarea.form-control(rows='3', style='margin-top: 0px; margin-bottom: 0px; height: 139px;' placeholder = "post_body" name="post_body")
                                button.btn.btn-primary(type='submit') submit
