extends layout
block content
    .container
        h1 Admin
        .row
            .col-md-12
                ul.navbar-nav.ml-auto
                    li.nav-item
                        a.nav-link(href='/blog-post/create') Create Blog Post
                    li.nav-item
                        a.nav-link(href='/portfolio/create') Create Portfolio Post
                    li.nav-item
                        a.nav-link(href='/services/create') Create Services Post