extends layout
block content
    .container
            h1.mt-4.mb-3
                | #{list.post_title}
                small
                |  by 
                a(href='#') Christopher Hardee
            h2.mt-4.mb-3
                | Created on #{list.createdAt}
            ol.breadcrumb
                li.breadcrumb-item
                    a(href='index.html') Home
                li.breadcrumb-item.active Blog Post
            .row
                .col-lg-8
                    img.img-fluid.rounded(src='http://placehold.it/900x300', alt='')
                    hr
                    p #{list.dataValues.post_body}
                    hr
                    p.lead
                        | #{list.dataValues.post_body}
                    blockquote.blockquote
                        p.mb-0
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        footer.blockquote-footer
                        | Someone famous in 
                        cite(title='Source Title') Source Title
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!
                    hr
                    .fb-comments(data-href='http://www.christopherhardee.com', width='720px', data-numposts='5')
                .col-md-4
                    .card.mb-4
                        h5.card-header Search
                        .card-block
                        .input-group
                            input.form-control(type='text', placeholder='Search for...')
                            |  
                            span.input-group-btn
                            button.btn.btn-secondary(type='button') Go!
                    .card.my-4
                        h5.card-header Categories
                        .card-block
                            .row
                                .col-lg-6
                                    ul.list-unstyled.mb-0
                                        li
                                            a(href='#') Web Design
                                        li
                                            a(href='#') HTML
                                        li
                                            a(href='#') Freebies
                                .col-lg-6
                                    ul.list-unstyled.mb-0
                                        li
                                            a(href='#') JavaScript
                                        li
                                            a(href='#') CSS
                                        li
                                            a(href='#') Tutorials
                    .card.my-4
                        h5.card-header Side Widget
                        .card-block
                            | You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
