extends layout
block content  
  .container
    h1.mt-4.mb-3
      | Blog
    ol.breadcrumb
      li.breadcrumb-item
        a(href='index.html') Home
      li.breadcrumb-item.active Blog Listings
    .row
      .col-md-8
        each val, index in list
          .card.mb-4
          img.card-img-top.img-fluid(src='http://placehold.it/750x300', alt='Card image cap')
          .card-block
            h2.card-title Post Title is #{val.post_title}
            p.card-text
              | #{val.post_body}
            |  
            a.btn.btn-primary(href="blog-post/id/" + val.id) Read more
          .card-footer.text-muted
            | Posted on #{val.createdAt} by 
            a(href='#') Start Bootstrap

        ul.pagination.justify-content-center.mb-4
          li.page-item
            a.page-link(href='#') &larr; Older
          li.page-item.disabled
            a.page-link(href='#') Newer &rarr;
      .col-md-4
        .card.mb-4
          h5.card-header Search
          .card-block
            .input-group
              input.form-control(type='text', placeholder='Search for...')
              |  
              span.input-group-btn
                button.btn.btn-secondary(type='button') Go!
        .card.my-4
          h5.card-header Categories
          .card-block
            .row
              .col-lg-6
                ul.list-unstyled.mb-0
                  li
                    a(href='#') Web Design
                  li
                    a(href='#') HTML
                  li
                    a(href='#') Freebies
              .col-lg-6
                ul.list-unstyled.mb-0
                  li
                    a(href='#') JavaScript
                  li
                    a(href='#') CSS
                  li
                    a(href='#') Tutorials
        .card.my-4
          h5.card-header Side Widget
          .card-block
            | You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
