extends layout
block content
  .container
    h1.mt-4.mb-3
      | Contact 
      small Subheading
    ol.breadcrumb
      li.breadcrumb-item
        a(href='index.html') Home
      li.breadcrumb-item.active Contact
    .row
      .col-lg-8.mb-4
        iframe(width='100%', height='400px', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?hl=en&ie=UTF8&ll=37.0625,-95.677068&spn=56.506174,79.013672&t=m&z=4&output=embed')
      .col-lg-4.mb-4
        h3 Contact Details
        p
          | Fowler Ave
          br
          | Tampa, FL 33617
          br
        p
          abbr(title='Phone') P
          | : 904 422-1142
        p
          abbr(title='Email') E
          | : 
          a(href='mailto:chris@mousebit.com') chris@mousebit.com
        p
          abbr(title='Hours') H
          | : Monday - Friday: 9:00 AM to 5:00 PM
    .row
      .col-lg-8.mb-4
        h3 Send us a Message
        form#contactForm(name='sentMessage', novalidate='')
          .control-group.form-group
            .controls
              label Full Name:
              |  
              input#name.form-control(type='text', required='', data-validation-required-message='Please enter your name.')
              p.help-block
          .control-group.form-group
            .controls
              label Phone Number:
              |  
              input#phone.form-control(type='tel', required='', data-validation-required-message='Please enter your phone number.')
          .control-group.form-group
            .controls
              label Email Address:
              |  
              input#email.form-control(type='email', required='', data-validation-required-message='Please enter your email address.')
          .control-group.form-group
            .controls
              label Message:
              textarea#message.form-control(rows='10', cols='100', required='', data-validation-required-message='Please enter your message', maxlength='999', style='resize:none')
          #success
          |  
          button.btn.btn-primary(type='submit') Send Message

