
footer.py-5.bg-inverse
  .container
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/tether/tether.min.js')
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    p.m-0.text-center.text-white Copyright &copy; christopherhardee.com 2017

