extends layout
block content
  #carouselExampleIndicators.carousel.slide(data-ride='carousel')
          ol.carousel-indicators
            li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
            li(data-target='#carouselExampleIndicators', data-slide-to='1')
            li(data-target='#carouselExampleIndicators', data-slide-to='2')
          .carousel-inner(role='listbox')
            .carousel-item.active(style="background-image: url('images/chester.jpg')")
              .carousel-caption.d-none.d-md-block
                h3 Custom Web Applications
                p Built from scratch or with frameworks / libaries. Your choice. 
            .carousel-item(style="background-image: url('images/IMG_0249-min.jpg')")
              .carousel-caption.d-none.d-md-block
                h3 Responsive Design
                p Mobile viewports are quickly becoming the most popular among browsers. My sites have themes that are built to adapt to your device. I can build custom themes too!
            .carousel-item(style="background-image: url('images/blue.jpg')")
              .carousel-caption.d-none.d-md-block
                h3 Hosting
                p Let me manage your hosting. I can quickly setup your domain and host small scale sites at an affordable rate!
          a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            |  
            span.sr-only Previous
          a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            |  
            span.sr-only Next
  .container
        h1.my-4 Welcome to Modern Web Development
        .row
          .col-lg-4.mb-4
            .card.h-100
              h4.card-header Full-Stack Developer
              .card-block
                p.card-text
                  | Current with front end frameworks such as AngularJS and ReactJS. Currently using NodeJS on the backend. An Example is this website, which is built on NodeJS and Express. 
              .card-footer
                a.btn.btn-primary(href='#') Learn More
          .col-lg-4.mb-4
            .card.h-100
              h4.card-header Dev Ops
              .card-block
                p.card-text
                  | My experience in full stack development has lead me down some interesting paths. I found that I really enjoy setting up LAMP servers and hosting client websites. If you need help configuring a server or want tutoring, feel free to contact me.
              .card-footer
                a.btn.btn-primary(href='#') Learn More
          .col-lg-4.mb-4
            .card.h-100
              h4.card-header Responsive Design
              .card-block
                p.card-text
                  | I first started doing web development because of my fascination with user experiences and interfaces. I can create templates that are fluid and elegant and tailored specifically for the client. 
              .card-footer
                a.btn.btn-primary(href='#') Learn More
        h2 Portfolio Quicklook
        .row
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#')
                img.card-img-top.img-fluid(src='http://placehold.it/700x400', alt='')
              .card-block
                h4.card-title
                  a(href='#') 1. Kellar Realty
                p.card-text
                  | Eddie was my first client. His site was one of my most demanding sites but thankfully Eddie knew what functionality he wanted. This site is still a work in progress and will soon be due for a redesign. His site is managed and hosted by me.
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#')
                img.card-img-top.img-fluid(src='http://placehold.it/700x400', alt='')
              .card-block
                h4.card-title
                  a(href='#') 2. Cutters Cigar
                p.card-text
                  | Cutters cigar was a small site that I built in under an hour. The owner just wanted a "single page virtual business card".
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#')
                img.card-img-top.img-fluid(src='http://placehold.it/700x400', alt='')
              .card-block
                h4.card-title
                  a(href='#') 3. Bisk
                p.card-text
                  | I work as a front end developer for Bisk. My role is iterations developer for major university websites. I manage version control as well as deployment to production servers. 
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#')
                img.card-img-top.img-fluid(src='http://placehold.it/700x400', alt='')
              .card-block
                h4.card-title
                  a(href='#') 4. Mousebit Web Solutions
                p.card-text
                  | Mousebit was my web development business that I ran for a year and a half. I wore all the hats required in a software development company. This includes full-stack developer as well as logo and ux designer.
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#')
                img.card-img-top.img-fluid(src='http://placehold.it/700x400', alt='')
              .card-block
                h4.card-title
                  a(href='#') 5. This Website
                p.card-text
                  | This website was my first project with NodeJS and ExpressJS. I was really surprised how easy it was to setup. This was a prebuilt theme provided by Bootstrap. I wanted to focus on the content and the backend functionality so I chose a prebuilt theme to start with.
          .col-lg-4.col-sm-6.portfolio-item
            .card.h-100
              a(href='#')
                img.card-img-top.img-fluid(src='http://placehold.it/700x400', alt='')
              .card-block
                h4.card-title
                  a(href='#') 6. My Slackbot
                p.card-text
                  | We all need fun projects. This is a php7 slackbot personal project. Right now it just does a few simple commands but its a lot of fun to experiment with when I am bored.
        .row
          .col-lg-6
            h2 Modern Web Technologies
            p I code based on the project. I have used the below technologies.
            ul
              li
                strong NodeJS
              li Bootstrap
              li ReactJS
              li PHP 7
              li Python3
              li Sketch
            p
              | There are many frameworks available for building web applications. They all have their pros and cons. I enjoy learning new things about them and their use cases. If you have a project and want it built feel free to ask. I can learn as I build. 
          .col-lg-6
            img.img-fluid.rounded(src='images/IMG_0249-min.jpg', alt='')
        hr
        .row.mb-4
          .col-md-8
            p
              | I am always looking for new opportunities to grow as a developer. Please give me a contact if you want to discuss starting a project or are looking to hire. 
          .col-md-4
            a.btn.btn-lg.btn-secondary.btn-block(href='#') Contact Me
    
