doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/modern-business.css', rel='stylesheet')
    style.
      .navbar-toggler {
      z-index: 1;
      }
      @media (max-width: 576px) {
      nav > .container {
      width: 100%;
      }
      }
      /* Temporary fix for img-fluid sizing within the carousel */
      .carousel-item.active,
      .carousel-item-next,
      .carousel-item-prev {
      display: block;
      }
  body
  #fb-root
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

  include nav.pug
  block content
  include footer.pug


