extends layout
block content
    .container
        .row
            .login
                .login-triangle
                h2.login-header Log in
                form(method="post").login-container
                    p
                        input(type='email', placeholder='Email')
                    p
                        input(type='password', placeholder='Password')
                    p
                        input(type='submit', value='Log in')
            | 

