nav.navbar.fixed-top.navbar-toggleable-md.navbar-inverse.bg-inverse
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarExample', aria-controls='navbarExample', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .container
    a.navbar-brand(href='/') Christopher Hardee
    #navbarExample.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/about') About
        //li.nav-item
          a.nav-link(href='/services') Services
        li.nav-item
          a.nav-link(href='/contact') Contact
        //li.nav-item
          a.nav-link(href='/portfolio') Portfolio 
        li.nav-item
          a.nav-link(href='/blog') Blog
        li.nav-item
          a.nav-link(href='/admin') Admin
