extends layout
block content
    .container
        h1.mt-4.mb-3
            | Portfolio 1 
            small Subheading
        ol.breadcrumb
            li.breadcrumb-item
                a(href='index.html') Home
            li.breadcrumb-item.active Portfolio 1
        .row
            .col-md-7
                a(href='#')
                    img.img-fluid.rounded.mb-3.mb-md-0(src='http://placehold.it/700x300', alt='')
            .col-md-5
                h3 Project One
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.
                |  
                a.btn.btn-primary(href='#')
                    | View Project
                    span.glyphicon.glyphicon-chevron-right
        hr
        .row
            .col-md-7
                a(href='#')
                    img.img-fluid.rounded.mb-3.mb-md-0(src='http://placehold.it/700x300', alt='')
            .col-md-5
                h3 Project Two
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.
                |  
                a.btn.btn-primary(href='#')
                    | View Project
                    span.glyphicon.glyphicon-chevron-right
        hr
        .row
            .col-md-7
                a(href='#')
                    img.img-fluid.rounded.mb-3.mb-md-0(src='http://placehold.it/700x300', alt='')
            .col-md-5
                h3 Project Three
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!
                |  
                a.btn.btn-primary(href='#')
                    | View Project
                    span.glyphicon.glyphicon-chevron-right
        hr
        .row
            .col-md-7
                a(href='#')
                    img.img-fluid.rounded.mb-3.mb-md-0(src='http://placehold.it/700x300', alt='')
            .col-md-5
                h3 Project Four
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?
                |  
                a.btn.btn-primary(href='#')
                    | View Project
                    span.glyphicon.glyphicon-chevron-right
        hr
        ul.pagination.justify-content-center
            li.page-item
            a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') &laquo;
                |  
                span.sr-only Previous
            li.page-item
            a.page-link(href='#') 1
            li.page-item
            a.page-link(href='#') 2
            li.page-item
            a.page-link(href='#') 3
            li.page-item
            a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') &raquo;
                |  
                span.sr-only Next
