extends layout
block content
    .container
        h1.mt-4.mb-3
            | Portfolio Item 
            small Subheading
        ol.breadcrumb
            li.breadcrumb-item
                a(href='index.html') Home
            li.breadcrumb-item.active Portfolio Item
        .row
            .col-md-8
                img.img-fluid(src='http://placehold.it/750x500', alt='')
            .col-md-4
                h3.my-3 Project Description
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.
                h3.my-3 Project Details
                ul
                    li Lorem Ipsum
                    li Dolor Sit Amet
                    li Consectetur
                    li Adipiscing Elit
        h3.my-4 Related Projects
        .row
            .col-md-3.col-sm-6.mb-4
                a(href='#')
                    img.img-fluid(src='http://placehold.it/500x300', alt='')
            .col-md-3.col-sm-6.mb-4
                a(href='#')
                    img.img-fluid(src='http://placehold.it/500x300', alt='')
            .col-md-3.col-sm-6.mb-4
                a(href='#')
                    img.img-fluid(src='http://placehold.it/500x300', alt='')
            .col-md-3.col-sm-6.mb-4
                a(href='#')
                    img.img-fluid(src='http://placehold.it/500x300', alt='')
