extends layout
block content
    .container
        h1.mt-4.mb-3
            | Services 
            small Subheading
        ol.breadcrumb
            li.breadcrumb-item
                a(href='index.html') Home
            li.breadcrumb-item.active Services
        |  
        img.img-fluid.rounded.mb-4(src='http://placehold.it/1200x300', alt='')
        .row
            .col-lg-4.mb-4
                .card.h-100
                    h4.card-header Card Title
                    .card-block
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                    .card-footer
                    a.btn.btn-primary(href='#') Learn More
            .col-lg-4.mb-4
                .card.h-100
                    h4.card-header Card Title
                    .card-block
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.
                    .card-footer
                    a.btn.btn-primary(href='#') Learn More
            .col-lg-4.mb-4
                .card.h-100
                    h4.card-header Card Title
                    .card-block
                        p.card-text
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.
                    .card-footer
                    a.btn.btn-primary(href='#') Learn More
